{{ template "layout" . }}

{{ define "title" }}
{{ .site.Name }}{{if .site.FuckIcp}} | {{ .site.FuckIcp }}{{end}}
{{ end }}
{{ define "moreHeaders" }}
<meta name="description" content="{{ .site.Description }}">
{{ end }}
{{ define "moreStyles" }}
<link href="/static/css/index.css" rel="stylesheet" media="screen">
{{ end }}
{{ define "moreScripts" }}
{{ end }}

{{ define "content" }}
{{ $site := .site }}

{{ template "header" . }}

<div class="container">

</div>

{{ template "footer" . }}

{{ end }}
